.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    height:70px;
    overflow:hidden;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}

.last-item {
    margin-right:100px;
}

.nbs-flexisel-item a {
    display:block;
    max-width:140px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:140px;
}
.nbs-flexisel-item span {
    display:block;
    padding:3px 0 15px 0;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 51px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.8;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(/bootstrap-3.3.4/images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(/bootstrap-3.3.4/images/button-next.png) no-repeat;
}